.masterhead {
  box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 5px !important;
  h1 {
    font-size: 4rem !important;
    padding-top:6rem !important;
  }
  .sub.header {
    font-size: 1.6rem !important;
  }
}