html, body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.ui.attached.message {
  //  max-height: 8.2rem !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: justify;
}

#bsmashup-content {
  margin: 3rem 4rem;
  margin-top: 19rem;
  max-width: 1200px;
}

h1.ui.header {
  padding-top: 3rem;
}

.breadcrumb {
  margin-top: 0 !important;
}

.breadcrumb .divider {
  color: #DDD !important;
}

.ui.list, .message, .landing, .footer {
  a {
    color: #009FDA;
    text-decoration: none;
  }
}

.sitebanner {
  box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 5px !important;
}

.ui .breadcrumb, .ui .label {
  a:-webkit-any-link {
    color: inherit;
    text-decoration: inherit;
    cursor: auto;
  }
}