<div class="ui attached inverted purple masterhead segment">
    <div class="ui stackable page grid">

        <div class="sixteen wide column">

            <h1 class="ui inverted header">BSMashup
                <div class="sub header">Mixing BetaSeries with stuff</div>
            </h1>
        </div>

        <div class="desktop only four wide column"></div>
        <div class="eight wide column">
            <div class="ui very large fluid teal button"
                 ng-click="login()">
                Login on { BetaSeries }
            </div>
        </div>

    </div>
</div>

<div class="ui page grid">
    <div class="sixteen wide landing column">
        <h2 class="ui header">
            BetaSeries
        </h2>
        <p>
            Un Accès rapide aux informations principales de votre compte <a href="http://www.betaseries.com">BetaSeries</a>, y compris depuis un smartphone.
        </p>

        <h2>
            And stuff
        </h2>
        <p>
            Mixé avec du contenu en provenance d'autres sites pour regrouper tout ce dont vous avez besoin au même endroit
        </p>

    </div>
</div>