<div class="ui attached inverted purple masterhead segment">
    <div class="ui stackable page grid">

        <div class="sixteen wide column">

            <h1 class="ui inverted header">BSMashup
                <div class="sub header">Mixing BetaSeries with stuff</div>
            </h1>
        </div>

        <div class="desktop only four wide column"></div>
        <div class="eight wide column">
            <div class="ui very large fluid teal button"
                 ng-click="login()">
                Login on { BetaSeries }
            </div>
        </div>

    </div>
</div>

<div class="ui page grid">
    <div class="sixteen wide column">
        <h2 class="ui header">
            Lorem ipsum dolor sit amet.
        </h2>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi autem excepturi facere magni voluptates! Ab
            alias aperiam atque consequuntur dicta dolor eveniet incidunt omnis provident sequi sunt suscipit, vero
            voluptas.
        </p>

        <h2>
            Lorem ipsum dolor sit amet, consectetur.
        </h2>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam animi, asperiores atque debitis doloremque
            esse ex inventore ipsam iste laboriosam maiores natus non officia praesentium quidem quo temporibus vel
            voluptatem!
        </p>

        <h2>
            Lorem ipsum dolor.
        </h2>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. At delectus impedit obcaecati optio quam. Fuga
            neque placeat possimus quaerat quis sapiente veniam voluptatum? Autem esse expedita numquam qui repellendus
            voluptatibus.
        </p>

    </div>
</div>

<div id="bsmashup-content">
    <div class="ui two column doubling grid" ui-view></div>


</div>