<h1>
    <a href="#/">BSMashup</a>
    <button type="button" ng-click="logout()">logout</button>
</h1>

<hr/>

<div>
    <h2>TV Shows</h2>
    <!--<img class="img-responsive" src="http://thetvdb.com/banners/graphical/70522-g18.jpg" alt="...">-->


    <div class="" ng-repeat="show in shows">


        <div class="well">
            <div class="caption">
                <h4>{{ show.title }}</h4>
                <ul class="list-group">
                    <li ng-repeat="ep in show.unseen | limitTo:4">
                        <episode show="show" data="ep"/>
                    </li>
                    <li class="list-group-item" ng-show="show.unseen.length > 4">more...</li>
                </ul>
            </div>
        </div>
    </div>
</div>