<div class="ui purple vertical sidebar menu" sem-sidebar>
    <div class="header item">
        <i class="play icon"></i>
        BSMashup
    </div>
    <a class="item" ui-sref="series.episodes" ui-sref-active="active">
        Episodes
    </a>
    <div class="item">
        Series
    </div>
    <div class="item">
        Configuration
    </div>
</div>


<i class="big list layout icon link icon" style="position: absolute; top: 1rem; left: 1rem"></i>

<div class="ui attached inverted purple segment sitebanner">

    <h1 class="ui header">BSMashup</h1>
    <div class="ui huge breadcrumb">
        <a class="section">Series</a>
        <div class="divider"> / </div>
        <a class="active section">Episodes</a>
    </div>
</div>

<div id="bsmashup-content">
    <div class="ui two column doubling grid" ui-view></div>


</div>