<div class="column">
    <h2 class="ui top attached header">{{ episode.show_title }} - {{ episode.code }} {{ episode.title }}</h2>
    <div class="ui bottom attached message">
        {{ episode.description }}
    </div>
</div>
<div class="column">

    <div class="ui top attached header">
        Magnets
    </div>
    <div class="ui bottom attached selection list segment">

        <a class="item"
           ng-repeat="torrent in torrents | limitTo:6"
           ng-href="{{ torrent.magnet }}">

                <span class="right floated">
                    <div class="ui horizontal label">
                        {{ torrent.size / 1024 / 1024 | number:0}}mo
                    </div>

                        <div class="ui horizontal label">
                            <i class="upload icon"></i> {{ torrent.seeder }}
                        </div>

                        <div class="ui horizontal label">
                            <i class="download icon"></i> {{ torrent.leecher }}
                        </div>
                </span>

            <i class="ui magnet icon"></i>

            <div class="content">
                <div class="header">
                    {{ torrent.name }}
                </div>

            </div>
        </a>
    </div>

    <div class="ui top attached header">
        Sous-titres
    </div>
    <div class="ui bottom attached segment selection list">
        <a class="item"
           ng-repeat="sub in episode.subtitles"
           ng-href="{{ sub.url }}">

                <span class="right floated">
                    <span class="ui horizontal label">
                        {{ sub.language}}
                    </span>
                    <span class="ui horizontal label">
                        {{ sub.quality }}/5
                    </span>
                </span>

            <i class="ui text file outline icon"></i>

            <div class="content">
                <div class="header">{{ sub.file }}</div>
            </div>
        </a>
    </div>
</div>