<div class="ui attached inverted purple segment sitebanner">

    <div class="ui page grid">
        <div class="ui right aligned sixteen wide right floated column">
            <a class="ui purple button" href="#/config">Config</a>

            <div class="ui purple button" ng-click="logout()">Logout</div>
        </div>
        <div class="sixteen wide column">

            <h1 class="ui header">BSMashup</h1>

            <div class="ui huge breadcrumb">
                <span ng-repeat="bread in breadcrumb">
                    <a class="section"
                       ng-class="{active: $last}"
                       ng-href="{{bread[1]}}">{{ bread[0] }}</a>
                    <div class="divider" ng-hide="$last"> /</div>
                </span>
            </div>
        </div>
    </div>
</div>

<div class="ui one column doubling page grid" ui-view></div>

<div class="ui attached tertiary inverted segment">

    <div class="ui page grid">
        <div class="sixteen wide footer column">
            <h4><i class="ui large info icon"></i> BSMashup use data from <a href="http://www.betaseries.com">BetaSeries</a> and <a href="http://fenopy.se">Fenopy</a></h4>
        </div>
    </div>
</div>

