<div class="column">

    <div class="ui black label" ng-repeat="show in shows">
        <a target="_self" ng-href="#{{ show.id }}">
            {{ show.title }}
            <span class="detail">
                <i class="ui video icon"></i> {{ show.unseen.length }}
            </span>
        </a>
    </div>
</div>

<div class="column" ng-repeat="show in shows" id="{{ show.id }}">

    <div class="ui black top attached header">
        {{ show.title }}
    </div>

    <div class="ui relaxed divided list attached segment" ng-class="{bottom: show.unseen.length <= 5}">
        <episode class="item" show="show" data="ep" ng-repeat="ep in show.unseen | limitTo:5"></episode>
    </div>
    <div class="ui bottom attached icon info message" ng-show="show.unseen.length > 5">
        <i class="inbox icon"></i>

        <div class="content">
            <a ng-href="#/series/{{show.id}}" class="header">Voir tous les épisodes </a>

            <p>
                {{ show.unseen.length - 5 }} épisodes masqués
            </p>
        </div>
    </div>
</div>